<div id="<%= dom_id xml_document %>">
  <h5 style="background: #AEAEAE;">
    <strong>Name:</strong>
    <%= xml_document.name %>
    <p> Posted on <%= xml_document.created_at %> </p>
  </h5>

</div>
