<h1>Editing xml document</h1>

<%= render "form", xml_document: @xml_document %>

<br>

<div>
  <%= link_to "Show this xml document", @xml_document %> |
  <%= link_to "Back to xml documents", xml_documents_path %>
</div>
